#lgpd-banner {
  position: fixed;
  z-index: 3;
  bottom: 2rem;
  left: 1rem;
  right: 1rem;
  background: #ffffff;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,0.7)!important;
  border-radius: 5px;
  display: none;
  width: 30%!important;
  border-color: #000000;
}

@media (max-width: 576px) {
  #lgpd-banner {
    bottom: 1rem;
    left: 5%;
    right: 5%;
    width: 90%!important;
  }
}

#lgpd-banner.card-header {
  background: rgb(0,0,0);
}

#lgpd-banner.card-header .h5, h5 {
  font-size: 1.2rem;
  text-align: center;
}

#lgpd-banner .card-body .p, p {
  text-align: left;
  font-size: 1rem;
  text-indent: 0!important;
}

#lgpd-banner .card-footer {
  padding: 0 .5em .5em 0!important;
}

#lgpd-banner .btn {
  margin: .6em 0 0 0;
  border-radius: 5px;
  padding: 0.3em 1.4em;
}

