/* Fonte Poppins Latim */

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJfecg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLEj6Z1xlFQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDD4Z1xlFQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Root */

:root {
  --bs-white: #fff;
  --bs-gray: #b69b66;
  --bs-primary: #b69b66;
  --bs-blue: #b69b66;
  --bs-dark: #91691a;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-gray-100: rgba(182,155,102,0.1);
  --bs-gray-200: rgba(182,155,102,0.2);
  --bs-gray-300: rgba(182,155,102,0.3);
  --bs-gray-400: rgba(182,155,102,0.4);
  --bs-gray-500: rgba(182,155,102,0.5);
  --bs-gray-600: rgba(182,155,102,0.6);
  --bs-gray-700: rgba(182,155,102,0.7);
  --bs-gray-800: rgba(182,155,102,0.8);
  --bs-gray-900: rgba(182,155,102,0.9);
  --bs-black: #91691a;
  --bs-font-sans-serif: "Poppins";
  --bs-body-color: #91691a;
  --bs-body-font-size: 18px;
}

*, *::before, *::after {
  box-shadow: none !important;
}

.navbar {
  font-family: "Poppins";
  font-size: 18px;
  background: linear-gradient(#febf6c, #855800);
}

.navbar-light {
  padding: 0px !important;
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show > .nav-link {
  color: var(--bs-white) !important;
  background: #855800;
}

.nav-item .nav-link {
  color: var(--bs-white) !important;
}

.nav-link {
  padding: 15px 15px !important;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(255,255,255)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-light .navbar-toggler {
  color: rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 0.5);
}

.offcanvas-body {
  background: #855800;
}

/* Tipografia */

h1 {
  font-weight: 600;
}

p {
  font-size: 1.2rem;
  line-height: 1.5rem;
}

/* Cabeçalho */

@media (max-width: 576px) {
  .hero {
    text-align: center;
    padding: 0px;
  }
}

@media (max-width: 576px) {
  .img-col {
    display: flex;
    justify-content: center;
  }
}

.btn:hover {
  background: linear-gradient(#855800, #febf6c);
}

.btn {
  padding-right: 10%;
  padding-left: 10%;
  background: linear-gradient(#febf6c, #855800);
  border-radius: 1.2rem;
  border-style: none;
  font-size: 1.2rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  letter-spacing: 2px;
  z-index: 1;
}

/* Section Dark */

.section-dark {
  background: linear-gradient(rgba(133, 88, 0, 0.9), rgba(133, 88, 0, 0.9)), url("../../assets/img/background-black-white.webp") center top/cover no-repeat;
}

.section-dark h2, .section-dark h3, .section-dark h4, .section-dark h5, .section-dark h6 {
  color: #ffffff;
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.section-dark p {
  color: #ffffff !important;
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

.section-dark span, .section-dark small {
  color: #ffffff !important;
}

.section-dark small {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

.section-dark ul {
  color: #ffffff !important;
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
  font-size: 1rem;
}

.container-dark {
  padding: 15px 0px 30px 0px;
}

@media (min-width: 992px) {
  #hero {
    height: 100%;
  }
}

@media (min-width: 992px) {
  .sec-hero {
    height: 100vh;
  }
}

#offcanvas-1 {
  z-index: 2;
}

