/* * Títulos * */

.h1, .h2, .h3, .h4, h1, h2, h3, h4 {
  font-weight: bold;
  line-height: 38px;
  display: block;
  margin-block: 1em 0em;
  padding: 0px;
  margin: 75px 0px 35px 0px;
  text-align: center;
  color: #000;
  text-transform: uppercase;
}

.h1, h1 {
  font-size: 2.4rem;
  margin: 0px;
}

@media (max-width: 576px) {
  .h1, h1 {
    font-size: 2rem;
    padding: 10px 0px;
  }
}

.h2, h2 {
  font-size: 1.8rem;
}

h2::before {
  margin: 0 15px 8px 0;
}

h2::after {
  margin: 0 0 8px 15px;
}

h2::before, h2::after {
  content: "";
  width: 50px;
  height: 5px;
  background: #888888;
  display: inline-block;
}

@media (max-width: 576px) {
  .h2, h2 {
    padding: 15px;
    padding: initial;
  }
}

/* CONFIGURACOES DO RODAPE */

.h5, .h6, h5, h6 {
  margin-top: 0;
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
}

.h5, h5 {
  font-size: calc(1.275rem + .3vw);
}

@media (min-width:1200px) {
  .h5, h5 {
    font-size: 1.5rem;
  }
}

#footer .footer-top h5 {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  position: relative;
  padding-bottom: 12px;
}

@media (min-width:1200px) {
  .h6, h6 {
    font-size: 1.75rem;
  }
}

.h6, h6 {
  font-size: 1rem;
  text-align: center;
  color: #ffffff;
}

@media (max-width:768px) {
  .display-6 {
    font-size: 1rem!important;
    text-align: center!important;
    color: #ffffff!important;
  }
}

@media (min-width:912px) {
  .display-6 {
    font-size: 1rem!important;
    text-align: center!important;
    color: #ffffff!important;
  }
}

/* Fim das configuracoes do rodape */

